In [22]:
SELECT szh.TIPUS, 
        COUNT(f.FOGLALAS_PK)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
GROUP BY szh.TIPUS
--HAVING ROUND(COUNT(f.FOGLALAS_PK)) < 500

TIPUS,(No column name)
Apartman,73
Hotel,685
vendégház,114
panzió,155

In [39]:
SELECT szh.szallas_nev
    CASE 
        WHEN szh.TIPUS = 'panzió' THEN 'IGEN'
        ELSE 'NEM'
        END
FROM Szallashely szh JOIN Szoba sz ON sz.SZALLAS_FK = szh.SZALLAS_ID
                    JOIN Foglalas f ON f.SZOBA_FK = sz.SZOBA_ID   
WHERE f.FOGLALAS_PK IS NULL

: Msg 156, Level 15, State 1, Line 2
Incorrect syntax near the keyword 'CASE'.